
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best Movie Review website </title>
        {% endif %}
        {% extends 'base.html'%}
        {% import 'macros.html' as macro%}
        {% import 'bootstrap/wtf.html' as wtf %}
<!-- Styles block -->

        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
        
    </head>
  
    <body>
   

    <!-- Content block -->
   
    {% block content %}
    <div class="category">
            <p><strong>Please choose in the list below the Category in which you want the pitch to be submitted!</strong></p>
            <ul>
                <a href="{{url_for('main.posts')}}"><li>Education</li></a>
                <!-- {{url_for('main.education')}} -->
                <a href="{{url_for('main.posts')}}"><li>Family</li></a>
                <a href="{{url_for('main.posts')}}"><li>Business</li></a>
            </ul>
        </div>
<p>Go to Pitch: <a href="{{url_for('main.posts')}}">Click here </a></p>

{{macro.displayPitchesList(pitch)}}


 
   

{% endblock%}
       
</body>
</html>


