<title> {{ title }}</title>

{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}

<div class="container"> 
    <div class="category">
        <p><strong>Please choose in the list below the Category in which you want the pitch to be submitted!</strong></p>
        <ul>
            <a href=""><li>Education</li></a>
            <a href=""><li>Family</li></a>
            <a href=""><li>Business</li></a>
        </ul>
    </div>
    <h1>Pitch Area</h1>
    {{wtf.quick_form(posts_form)}} 
</div>

{% endblock%}
